{% extends 'base.html' %}
{% block title %} Get a Quote - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}


  <main class="flex-shrink-0">

    <section class="about-page-top-bg" style="margin-top:165px;">
      <div>
        <h1 class="page-first-title animate__animated animate__zoomIn text-white">About Us</h1>
      </div>
    </section>

    <!-- MD Message -->
    {% for c in c_level %}
    <section class="container bg-light p-5 mt-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <img data-aos="fade-up" class="w-100 rounded" src="{{c.image.url}}" alt="">
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <h2 data-aos="fade-up" class="mb-5 text-center">{{c.title}}</h2>
          <p class="ceo-message-text">
          {{c.message}}
          </p>
        </div>
      </div>
    </section>
    {% endfor %}
    <!-- What we Do -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100 rounded" src="{% static 'asset/images/about-page/1.jpg' %}" alt="">
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up" class="mb-5">What we do?</h2>
            <p data-aos="fade-up">{{whyUs.we_Do | safe}}
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Mission & Vision -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up" class="mt-5 mb-4">Vision Statement</h2>
            <p data-aos="fade-up">We envision a world where we have empowered it with maintained compliance and worked
              hard and smartly to attain sustainability enabling the future generation of the manufacturing and
              corporate world to become more effective and efficient contributors to society and the world.</p>

            <h2 data-aos="fade-up" class="mb-4">Mission Statement</h2>
            <p data-aos="fade-up">Aiding the manufacturing units and corporate businesses reach sustainability through
              compliance and eco-friendly practices so that our effort leaves a long lasting positive effect in the
              industry.</p>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100" src="{% static 'asset/images/about-page/mission-and-vision.png' %}" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- Why Choose us -->

    <section>
      <div class="container mb-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up" class="pb-5">Why Choose us?</h2>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because
              We’re Chosen By Professionals.</p>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because We
              Are Digital.</p>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because We
              Don’t Damage The Earth.</p>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because
              We’ll Understand Your Brand.</p>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because
              We’re Easy To Work With.</p>
            <p data-aos="fade-up" class="border-bottom pb-2"><i class="fa-regular fa-circle-check pe-5"></i> Because
              We’ve Been There And Did It.</p>


          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100 rounded" src="{% static 'asset/images/about-page/why.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </section>


  </main>
{% endblock %}
