{% extends 'base.html' %}
{% block title %} Contact - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}


    <main class="flex-shrink-0">
        <section class="contct-page-top-bg">
            <div>
                <h1 class="page-first-title animate__animated animate__zoomIn text-white">CONTCT US</h1>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row mt-5 mb-5 text-center">
                    <div class="col-12 col-md-6 col-lg-3 pb-3">
                        <div class="contact-page-icon"><i class="fa-solid fa-location-dot"></i></div> <br>
                        <b class="">Address: </b> House - 175, Road - 02. Avenue - 03, Mirpur DOHS, Dhaka - 1216,
                        Bangladesh
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 pb-3">
                        <div class="contact-page-icon"><i class="fa-solid fa-phone"></i></div> <br>
                        <b>Phone:</b> +880 17434 05949
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 pb-3">
                        <div class="contact-page-icon"><i class="fa-solid fa-envelope"></i></div> <br>
                        <b>Email:</b> info@believercompliance.com
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 pb-3">
                        <div class="contact-page-icon"><i class="fa-solid fa-globe"></i></div> <br>
                        <b>Website:</b> believercompliance.com
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}