{% extends 'base.html' %}
{% block title %} Get a Quote - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}

    <main class="flex-shrink-0">

        <!-- Start Get Quote -->

        <Section class="container pb-5">
            <div class="get-quote-section">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <h4>Get a Quote</h4>
                        <p>Fill up the form and our Team will get back to you within 24 hours</p>

                        <div class="qoute-section-icon">
                            <p class="ps-3">
                                <i class="fa-solid fa-phone pe-3"></i>+880 17434 05949 <br> <br>
                                <i class="fa-solid fa-envelope pe-3"></i>info@believercompliance.com <br> <br>
                                <i class="fa-solid fa-location-dot pe-3"></i>DOHS, Dhaka - 1216, Bangladesh
                            </p>

                            <p class="mt-5">
                                <a target="_blank" class="qoute-social-icon"
                                    href="https://www.facebook.com/believercompliance?mibextid=ZbWKwL"><i
                                        class="fa-brands fa-facebook-f"></i></a>
                                <a class="qoute-social-icon" href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                                <a class="qoute-social-icon" href=""><i class="fa-brands fa-square-instagram"></i></a>
                            </p>
                        </div>

                    </div>
                    <div class="col-12 col-md-6 col-lg-6 get-quote-form">

                        <form method="post" action="{% url 'get-quote' %}">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleTextarea" class="form-label">Company/Organization Name</label>
                                <input type="text" name="company" class="form-control" id="exampleTextarea" aria-describedby="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleTextarea1" class="form-label">Company/Organization Address</label>
                                <input type="text" name="address" class="form-control" id="exampleTextarea1" aria-describedby="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleText1" class="form-label">Phone Number</label>
                                <input type="text" name="phone" class="form-control" id="exampleText1" aria-describedby="">
                                <div id="emailHelp" class="form-text">We'll never share your phone number with anyone else.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </Section>


    </main>
{% endblock %}