{% extends 'base.html' %}
{% block title %} Home - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}

  <main class="flex-shrink-0">

    <section class="page-top-bg">
      <div>
        <h1 class="page-first-title animate__animated animate__zoomIn">Welcome To <br> BELIEVER COMPLIANCE <br>
          <span class="home-page-first-small_title">Valued Compliance. Empowered Growth.</span>
        </h1>
      </div>
    </section>

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100 rounded mt-5" src="{% static 'asset/images/home-page/business.jpg' %}" alt="">
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <h5 data-aos="fade-up" class="mt-5 mb-3">ABOUT US</h5>
            <h2 data-aos="fade-up">Valued Compliance. Empowered Growth.</h2>
            <p class="mt-3" data-aos="fade-up"><b>BELIEVER</b> Compliance & Sustainability is the world leading
              <b>audit, inspection,
                testing, certification, training,</b> and <b>research & development</b> organization. Established in
              2020 with a
              group of experienced compliance & sustainability professionals. It aims to transform factories,
              manufacturing
              units, trading house as well as corporate offices from non-compliant to compliant status by all of its
              services. By achieving these services, they can meet the requirements of local labor law and various
              buyers’ requirements. BELIEVER helps improve the value of the organizational corporate social
              responsibilities towards the man, machines, technology as well as environment to make a safer, better and
              a sustainable world.
            </p>
            <p data-aos="fade-up">
              BELIEVER offers its services for both of public and private sectors at all sorts of industries i.e.,
              manufacturing industries, service-oriented industries, trading business, etc
            </p>
            <p data-aos="fade-up" class="mt-2"><a class="anchor-button" href="services.html">View Services <i
                  class="fa-solid fa-angles-right"></i></a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Top Certification Start -->

    <section>
      <div class="container overflow-hidden pb-5 mt-3">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
            <h5 data-aos="fade-up" class="mt-5 mb-5">CERTIFICATIONS</h5>
            <h2 data-aos="fade-up">Some of our certifications</h2>
          </div>
          <div class="col-12 col-md-8 col-lg-9">
            <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
              <div data-aos="fade-right" class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                  <img src="{% static 'asset/images/certificate-img/ISO_9001_logo.png' %}" class="card-img-top p-3" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ISO 9001: 2015</h5>
                    <p>The Quality Management System (QMS)</p>
                    <p class="card-text">ISO 9001:2015 is the international standard for quality management systems
                      (QMS). It provides a framework for organizations of all sizes and types to implement and improve
                      their processes to deliver consistent</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><a href="certification.html">Read more <i
                          class="fa-solid fa-arrow-right ps-1"></i></a></small>
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                  <img src="{% static 'asset/images/certificate-img/ISO_14001_logo.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ISO 14001: 2015</h5>
                    <p>The Environmental Management System (EMS)</p>
                    <p class="card-text">ISO 14001:2015 is the international standard for environmental management
                      systems (EMS). It offers a framework for organizations to systematically manage their
                      environmental impacts</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><a href="certification.html">Read more <i
                          class="fa-solid fa-arrow-right ps-1"></i></a></small>
                  </div>
                </div>
              </div>
              <div data-aos="fade-left" class="col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">
                  <img src="{% static 'asset/images/certificate-img/ISO_27001_Final-Logo.jpg' %}" class="card-img-top p-4" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">ISO 27001: 2022</h5>
                    <p>The Information Security Management System (ISMS)</p>
                    <p class="card-text">ISO 27001:2022 is an internationally recognized standard for information
                      security management systems (ISMS). It outlines a framework for implementing and maintaining a
                      robust information security system </p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"><a href="certification.html">Read more <i
                          class="fa-solid fa-arrow-right ps-1"></i></a></small>
                  </div>
                </div>
              </div>
            </div>
            <div data-aos="fade-up" class="d-flex justify-content-center pt-5">
              <a class="anchor-button" href="">All Certifications <i class="fa-solid fa-angles-right ps-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our Energy Audits -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up">Our Energy Audits In <br> The Industries</h2>
            <p data-aos="fade-up">We Offer Energy Audits For Businesses To Help Them Optimize Their Energy Consumption.
              Energy Audits
              Provide A Detailed Look At Your Company's Energy Consumption And Use.</p>
            <p data-aos="fade-up">They help companies identify opportunities for savings and find out how you can
              improve your efficiency.
              Our experienced team has been conducting these audits since 2011, so we know what works and what doesn’t.
              We’ll walk you through the process of an audit, provide a plan that includes goals and steps to follow,
              and share any recommendations we make. Our energy audit is a report that provides a comprehensive analysis
              and assessment of your current energy efficiency and performance. We’ll look at your home’s energy use,
              how it compares to similar homes in your area, and what you can do to improve it. Our experts will work
              with you to identify the best ways to reduce your carbon footprint and help you save money on your energy
              bills. Energy audit for companies is an important process that helps you to discover and fix energy issues
              that are affecting your business.</p>
            <div data-aos="fade-up" class="pt-5 pb-5">
              <a class="anchor-button" href="">View Certifications<i class="fa-solid fa-angles-right ps-2"></i></a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100 rounded" src="{% static 'asset/images/home-page/energy.jpg' %}" alt="">
            <h5 data-aos="fade-up" class="pt-3">Energy Audit</h5>
            <p data-aos="fade-up">Energy audit is a physical inspection of industrial, commercial buildings, power plant
              and any systems.
              Energy audit help businesses to reduce energy bills and greenhouse gas (GHG) emissions. Energy management
              strategies and systems will help your business, reduce its energy consumption and its GHG emissions. The
              first step towards the development of a comprehensive energy management plan is an energy audit. It
              provides a clear understanding on energy consumption patterns within your buildings and/or manufacturing
              processes and highlights technically viable energy saving opportunities.</p>

            <div data-aos="fade-up" class="pt-3 pb-5">
              <a class="anchor-button" href="energy-audit.html">Learn More<i
                  class="fa-solid fa-angles-right ps-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  INTERNATIONAL AFFILIATIONS -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            
            <div class="owl-carousel owl-theme">
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/1.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/2.png'%}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/4.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/5.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/6.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/7.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/8.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/9.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/10.jpg' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/11.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/12.png' %}" alt="">
              </div>
              <div class="item">
                <img class="affiliations-img" src="{% static 'asset/images/logos/home-logos/13.png' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col">
            <h5 data-aos="fade-up" class="mt-5 mb-5">INTERNATIONAL AFFILIATIONS</h5>
            <h2 data-aos="fade-up">The Confidence Of Our Affiliations</h2>
            <p data-aos="fade-up">Our reputation for quality, integrity and ethics is second to none. We provide
              independent, unbiased opinions and advice that leads to sustainable success.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Quality Services Since Start -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up">Quality Services Since 2020</h2>
            <p data-aos="fade-up"><b>We’re Committed To Providing The Highest-Quality Services At The Most Competitive
                Rates.</b></p>
            <p data-aos="fade-up">We provide vertically integrated, multi-disciplined quality assurance solutions which
              enable our clients to achieve certification, compliance and regulatory objectives and provide the ultimate
              competitive edge in their market.Doing business with the world’s top brand companies is what sets us
              apart. And we go beyond audits to deliver a complete range of services to help protect your products,
              process and people.</p>
            <p data-aos="fade-up">Delivering high quality and customized service to a growing client base in all regions
              of the world is what we strive to achieve every day.</p>

            <div data-aos="fade-up" class="pt-5 pb-5">
              <a class="anchor-button" href="">Services<i class="fa-solid fa-angles-right ps-2"></i></a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/1.png' %}" alt="">
              </div>
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/2.png' %}" alt="">
              </div>
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/3.png' %}" alt="">
              </div>
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/4.png' %}" alt="">
              </div>
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/5.png' %}" alt="">
              </div>
              <div class="item">
                <img class="w-25 m-auto" src="{% static 'asset/images/logos/services-logos/6.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Quality Services Since End -->

    <!-- Leading Provider Of Inspection Start -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <h2 data-aos="fade-up">Leading Provider Of Inspection, Certification, Auditing, Testing And Training.</h2>
            <p data-aos="fade-up">As the world leading laboratory, our people provide innovative products, services and
              solutions to guarantee the quality and safety of products, processes and services.We are recognized
              globally for setting and raising standards at industrial, commercial and consumer levels. We certify that
              all factory-made products comply with specified, relevant standard requirements or regulations before they
              are allowed for distribution or for use.</p>
            <p data-aos="fade-up">We are the first point of contact for organizations that seek conformity with
              international standards, assurance against unplanned supply chain interruptions, regulatory compliance,
              and training and development.</p>
            <div data-aos="fade-up" class="pt-5 pb-5">
              <a class="anchor-button" href="">Why Us<i class="fa-solid fa-angles-right ps-2"></i></a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <img data-aos="fade-up" class="w-100 rounded" src="{% static 'asset/images/home-page/why.JPG' %}" alt="">
          </div>
        </div>
      </div>
    </section>
    <!-- Leading Provider Of Inspection end -->


    <!-- FAQ -->

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <img data-aos="fade-up" class="w-25 m-auto d-block pb-5" src="{% static 'asset//images/home-page/help.png' %}" alt="">
            <h2 data-aos="fade-up">General Questions</h2>
            <p data-aos="fade-up"><b>Chances Are, You'll Find The Answer In Our FAQs. Here Are Some Of The More Common
                Questions We Get Asked:</b></p>
            <p data-aos="fade-up">A FAQ (Frequently Asked Questions) is a list of questions and answers about a topic
              that are frequently asked by users. It may also be used to answer questions about yourself, your company,
              or your products.</p>
          </div>
          <div class="col">
            <h2 data-aos="fade-up">Have any questions? <br>
              Check our FAQ
            </h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What makes your company unique?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body accordion-flush">We are an expert in all aspects of compliance with ISO
                    standards for
                    quality management systems. Our goal is to help our clients improve their performance by helping
                    them develop robust internal controls and processes that provide assurance to their customers.</div>
                </div>
              </div>
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What is your greatest achievement?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body accordion-flush">
                    BELIEVER Compliance & Sustainability is the world leading audit, inspection, testing,
                    certification, training, and research & development organization. <br>
                    We believe that it is our duty to ensure that our clients are compliant with all of their
                    environmental regulations and that they are able to meet all of their sustainability goals. We
                    also believe that we can help them make significant progress towards their goals in a very short
                    time frame.
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How would you describe your company?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body accordion-flush">
                    We know what it takes to be a successful business owner or manager. From securing your company’s
                    compliance with international regulations to developing new strategies for sustainability
                    practices within your organization (and beyond), we’ve got you covered! Our experts will work
                    closely with you throughout the entire process so that you can understand exactly what needs to be
                    done and when it needs to be done so that everything falls into place as planned!
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How have you changed in the last year?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body accordion-flush">
                    This year has been an exciting one for Believer Compliance & Sustainability. We continue to grow
                    our services and expand our reach into new areas, from audits and inspections to training and
                    research. We’ve also made major advances in our technology, which has allowed us to develop more
                    efficient methods of audit, inspection, testing and certification.
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    What are the goals of your company?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body accordion-flush">
                    BELIEVER Compliance & Sustainability is the world leading audit, inspection, testing,
                    certification, training, and research & development organization. Our mission is to provide our
                    customers with the highest quality services in order to maintain compliance with existing
                    regulations and to set new standards of excellence. We are committed to providing education and
                    training for our clients so that they can develop a sustainable business model that will last for
                    decades.
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    What do you think are the biggest challenges facing your company/industry as a whole?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    There are many challenges facing our industry as a whole, but I would say that the biggest
                    challenge is the lack of standardization and quality control in the field. <br> <br>
                    The world is becoming more and more globalized, and this means that there is a growing need for
                    accountability and transparency across all industries. In order to achieve this, we must be able
                    to ensure that our products are compliant with international standards—both those set by other
                    countries, as well as those set by our own government. <br> <br>
                    In addition, we must also ensure that our products are sustainable in their production
                    processes—that they do not harm workers or the environment. This includes ensuring that workers
                    have fair wages and working conditions as well as using eco-friendly materials whenever possible.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  -->

    <section class="overflow-hidden mt-5 mb-5 bg-light pt-5 pb-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <h2 data-aos="fade-up">Why Selecting Us Is Your Best Option ?</h2>
          <div data-aos="fade-up" class="col-12">
            <div class="card h-100 text-center">
              <div class="card-body pt-3 pb-3">
                <h2>{{whyUs.happy_Clients}}</h2>
                <h4>{{whyUs.happy_Clients_Title}}</h4>
                </h2>
                <p class="card-text">{{whyUs.happy_Clients_Desc}}
                </p>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" class="col">
            <div class="card h-100 pt-5 pb-5">
              <div class="card-body text-center">
                <h2>{{whyUs.personal_Consultants}}</h2>
                <h4>{{whyUs.personal_Consultants_Title}}</h4>
                <p>{{whyUs.personal_Consultants_Desc}}</p>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" class="col">
            <div class="card h-100 pt-5 pb-5">
              <div class="card-body text-center">
                <h2>{{whyUs.custom_Services}}</h2>
                <h4>{{whyUs.custom_Services_Title}}</h4>
                <p>{{whyUs.custom_Services_Desc}}</p>
              </div>
            </div>
          </div>
          <div data-aos="fade-up" class="col">
            <div class="card h-100 pt-5 pb-5">
              <div class="card-body text-center">
                <h2>{{whyUs.years_of_Experience}}</h2>
                <h4>{{whyUs.years_of_Experience_Title}}</h4>
                <p>{{whyUs.years_of_Experience_Desc}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Meet the team -->

    <section>

      <div class="container mt-5 pb-5 p-5 overflow-hidden">
        <h2 data-aos="fade-up" class="text-center pb-5 ">Meet The Team</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for t in team %}
          <div class="col">
            
            <div data-aos="fade-right" class="card h-100 shadow-sm">
              <img src="{{t.profile.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{t.name}}</h5>
                <p class="card-text">{{t.title}}</p>
              </div>
              <div class="card-footer bg-white border-0">
                <a href="http://{{t.facebook}}" target="_blank"><i style="font-size: 20px;" class="fa-brands fa-facebook"></i></a>
                <a href="http://{{t.twitter}}" target="_blank"><i style="font-size: 20px;  padding-left: 10px;" class="fa-brands fa-x-twitter"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Client feedback -->

    <section class="overflow-hidden">
      <div class="container pt-5 pb-5 ">
        <h2 data-aos="fade-up" class="text-center pb-5">What Client Say</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for r in reviews %}
          <div class="col-12 col-md-6 col-lg-4">
            <div data-aos="fade-right" class="card h-100 rounded">
              <div class="card-body shadow p-5">
                <p class="card-text">{{r.clients_quote}}</p>
                <h5 class="card-title">{{r.clients_name}}</h5>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </section>

  </main>

 


{% endblock %}