{% extends 'base.html' %}
{% block title %} Structural and Safety Compliance - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}
    <main class="flex-shrink-0">
        <section class="structural-page-top-bg">
            <div>
                <h1 class="page-first-title animate__animated animate__zoomIn text-white">Structural Design &
                    Drawing<br>
                </h1>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-12 col-md-6 col-lg-6">
                        <p class="mt-2">At BELIEVER, we pride ourselves on offering premium structural design and
                            drawing services to
                            a variety of industries, backed by our team of highly experienced technical personnel. Our
                            engineers and drafters possess extensive knowledge and expertise in creating accurate and
                            detailed designs and drawings that meet the unique demands of each project. With years of
                            experience in serving industries such as RMG power generation, healthcare, we have developed
                            a reputation for delivering high-quality services that exceed client expectations. Our
                            services include, but are not limited to, structural analysis, steel detailing, concrete
                            design, and BIM modeling, ensuring that every project receives the attention to detail and
                            expertise it deserves.</p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <img class="structural-2bg" src="{% static 'asset/images/structural-safety/bg-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}