{% extends 'base.html' %}
{% block title %} Test and Inspections - Believer Compliance & Sustainability {% endblock %}
{% load static %}
{% block content %}

    <main class="flex-shrink-0">

        <section>
            <div class="container pb-5">
                <h2 style="margin-top: 200px;" data-aos="fade-up"
                    class="text-center mb-5 pb-2">Testing and Inspections <i
                        class="fa-solid fa-square-check" style="color: #2b2c6b;"></i>
                </h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">Boiler & Vessel Inspection</h5>
                                <p>At BELIEVER, we specialize in providing top-notch industrial boiler and vessel
                                    inspection services to ensure the safety and efficiency of your equipment.</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-1">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-1" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Boiler & Vessel
                                                    Inspection</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>At BELIEVER, we specialize in providing top-notch industrial boiler
                                                    and vessel inspection services to ensure the safety and efficiency
                                                    of your equipment. Our team of experienced professionals utilizes
                                                    cutting-edge technology & tools and expert techniques to detect any
                                                    potential issues before they become major problems, helping you
                                                    avoid costly repairs and downtime. Trust us to deliver high-quality
                                                    inspections that meet or exceed industry standards.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">Calibration</h5>
                                <p>Technical epert professionals at BELIEVER provide exceptional industrial calibration
                                    services that ensure the accuracy and reliability of your equipment.</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-2">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-2" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Calibration</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Technical epert professionals at BELIEVER provide exceptional
                                                    industrial calibration services that ensure the accuracy and
                                                    reliability of your equipment. Our team of experts uses
                                                    state-of-the-art tools and techniques to precision-calibrate your
                                                    instruments, gauges, and machinery, ensuring that they operate
                                                    within strict tolerances and meet international quality standards.
                                                    With our comprehensive calibration services, you can trust that your
                                                    equipment will perform optimally, reducing downtime and increasing
                                                    productivity.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">Environmental Impact Assessment (EIA)</h5>
                                <p>At BELIEVER, we provide comprehensive and accurate Environmental Impact Assessment
                                    (EIA) services
                                    to help organizations mitigate the environmental risks associated with</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-3">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-3" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Environmental Impact
                                                    Assessment (EIA)</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>At BELIEVER, we provide comprehensive and accurate Environmental
                                                    Impact Assessment (EIA) services
                                                    to help organizations mitigate the environmental risks associated
                                                    with their projects and operations.
                                                    Our team of experts employs cutting-edge methodologies and tools to
                                                    assess the potential
                                                    environmental impacts of development projects, infrastructure
                                                    projects, and other activities. We work
                                                    closely with our clients to identify potential environmental risks
                                                    and develop effective strategies to
                                                    minimize or eliminate them. Our EIA services include but are not
                                                    limited to: environmental screening,
                                                    scoping, impact prediction, mitigation measures, and monitoring and
                                                    management plans. With our
                                                    expertise and commitment to sustainability, you can trust that your
                                                    project will be designed and
                                                    implemented with the utmost consideration for the environment.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">Environmental Test</h5>
                                <p>At BELIEVER, we provide comprehensive environmental testing services for industries,
                                    tailored to meet their unique needs and requirements.</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-4">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-4" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Environmental Test</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>At BELIEVER, we provide comprehensive environmental testing services
                                                    for industries, tailored to meet their unique needs and
                                                    requirements. Our state-of-the-art facilities and expert technicians
                                                    can sample a wide range of environmental conditions, including (but
                                                    not limited to):</p>
                                                <ul>
                                                    <li>Stack Air Emission test</li>
                                                    <li>Air Quality test</li>
                                                    <li>Ambient Air Quality test</li>
                                                    <li>Air Emission Inventory</li>
                                                    <li>Ozone Depleting Substances (ODS) test</li>
                                                    <li>Sound/Noise level test</li>
                                                    <li>Temperature test</li>
                                                    <li>Light level test</li>
                                                    <li>Humidity test</li>
                                                    <li>Odor test</li>
                                                    <li>Boiler test</li>
                                                    <li>ZDHC test</li>
                                                    <li>Greenhouse Gases (GHG) Emission Test</li>
                                                    <li>Chlorofluorocarbons (CFC) Emission Test</li>
                                                    <li>Greenhouse Gases (GHG) inventory</li>
                                                    <li>Chlorofluorocarbons (CFC) inventory</li>
                                                    <li>Waste Water Test etc.</li>
                                                </ul>
                                                <p>to assess the performance and condition of the working, operational
                                                    and surrounding environment. We understand that each industry has
                                                    its own specific challenges, and we work closely with our clients to
                                                    develop customized test protocols that address their specific
                                                    concerns and parameters. With our expertise and commitment to
                                                    excellence, you can trust that your facilities and units will be
                                                    thoroughly tested and validated to meet the highest standards of
                                                    quality and reliability.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">Lift or Elevator Inspection</h5>
                                <p>We offer comprehensive lift and elevator inspection services that cover everything
                                    from routine maintenance checks to complex repairs and modernization projects.</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-5">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-5" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Lift or Elevator
                                                    Inspection</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>We offer comprehensive lift and elevator inspection services that
                                                    cover everything from routine maintenance checks to complex repairs
                                                    and modernization projects. Our team of experienced technicians and
                                                    engineers will assess your equipment's condition, identify potential
                                                    hazards, and recommend necessary improvements to ensure optimal
                                                    performance and safety.</p>
                                                <p><b>Our inspection services include:</b></p>
                                                <ul>
                                                    <li>Routine Maintenance Inspections</li>
                                                    <li>Safety Inspections</li>
                                                    <li>Modernization Inspections:</li>
                                                    <li>Repair Inspections</li>
                                                    <li>Code Compliance Inspections</li>
                                                </ul>
                                                <p><b>Why Choose BELIEVER for Lift and Elevator Inspections?</b></p>
                                                <p><b>Expertise: </b></p>
                                                <p>Our team of licensed technicians and engineers has years of
                                                    experience in the industry, ensuring that your equipment receives
                                                    the highest level of scrutiny and attention.</p>
                                                <p><b>Professionalism: </b></p>
                                                <p>We understand the importance of minimal downtime, so we work
                                                    efficiently and effectively to get your equipment up and running
                                                    smoothly as soon as possible.</p>
                                                <p><b>Personalized Service: </b></p>
                                                <p>We tailor our inspection services to meet your unique needs and
                                                    concerns, providing customized solutions that cater to your
                                                    equipment's specific requirements.</p>
                                                <p><b>Cost-Effective: </b></p>
                                                <p>Our inspections are designed to save you money in the long run by
                                                    identifying potential issues before they become major problems,
                                                    reducing repair costs and downtime.</p>
                                                <p>Don't compromise the safety of your employees, visitors, and assets.
                                                    Trust BELIEVER for all your lift and elevator inspection needs.
                                                    Schedule your inspection today by contacting us.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">ZDHC Tests</h5>
                                <p>Are you looking for a reliable partner to help you ensure the safety and quality of
                                    your textile and chemical products? Look no further than BELIEVER, your trusted</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-6">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-6" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Lift or Elevator
                                                    Inspection</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you looking for a reliable partner to help you ensure the safety
                                                    and quality of your textile and chemical products? Look no further
                                                    than BELIEVER, your trusted partner for ZDHC (Zero Discharge of
                                                    Hazardous Chemicals) tests.</p>
                                                <p>At BELIEVER, we understand the importance of meeting the highest
                                                    standards of quality and safety in the textile industry. That's why
                                                    we've partnered with the best laboratories in the business to offer
                                                    comprehensive ZDHC tests that ensure your products meet the
                                                    strictest regulations and customer expectations. Our partnership
                                                    with renowned laboratories means that we can offer a wide range of
                                                    ZDHC tests.</p>
                                                <p>ZDHC testing includes various test levels to ensure that textile
                                                    products meet the required standards for safety and sustainability.
                                                    Here are the different test levels involved in ZDHC testing:</p>
                                                <p>
                                                    <b>Level 1 -</b> Raw Material Testing: This level involves testing
                                                    raw
                                                    materials used in textile production, such as fibers, dyes, and
                                                    auxiliaries, to ensure they do not contain any restricted
                                                    substances.
                                                </p>
                                                <p>
                                                    <b>Level 2 -</b> Component Testing: This level involves testing
                                                    individual
                                                    components of a textile product, such as buttons, zippers, and
                                                    threads, to ensure they meet the required standards.
                                                </p>
                                                <p>
                                                    <b>Level 3 -</b> Material Testing: This level involves testing the
                                                    final
                                                    material or fabric produced, which includes testing for
                                                    colorfastness, tensile strength, and other physical properties.
                                                </p>
                                                <p><b>Level 4 -</b> Product Testing: This level involves testing the
                                                    final
                                                    textile product, including garments, home textiles, and other
                                                    textile items, to ensure they meet all relevant safety and quality
                                                    standards.</p>
                                                <p><b>Level 5 -</b> Environmental Testing: This level involves testing
                                                    the
                                                    environmental impact of textile products, such as water and energy
                                                    usage, waste management, and carbon footprint.</p>
                                                <p><b>Level 6 -</b> Social Responsibility Testing: This level involves
                                                    evaluating the social responsibility practices of textile
                                                    manufacturers, including fair labor practices, ethical sourcing, and
                                                    supply chain transparency.</p>
                                                <p><b>Level 7 -</b> Traceability Testing: This level involves verifying
                                                    the
                                                    traceability of textile products, including tracking the origin of
                                                    raw materials, production processes, and distribution channels.</p>
                                                <p><b>Level 8 -</b> Certification Audit: This level involves auditing
                                                    textile
                                                    manufacturers and suppliers to ensure they meet the requirements of
                                                    ZDHC certification, including compliance with international
                                                    standards and regulations.</p>
                                                <p>At BELIEVER, we're committed to helping you create safer, more
                                                    sustainable textile products that meet the highest standards of
                                                    quality. Our partnership with the best laboratories in the industry
                                                    ensures that you can trust us to deliver accurate, reliable results
                                                    that help you achieve your goals.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container pb-5">
                <h2 data-aos="fade-up" class="text-center mt-5 mb-5 pb-2">Garments
                    Inspections <i class="fa-solid fa-square-check" style="color: #2b2c6b;"></i>
                </h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">DUPRO</h5>
                                <p>Are you tired of poor quality garment products reaching your customers? Do you
                                    struggle with inconsistent quality control during production?</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-7">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-7" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">DUPRO</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you tired of poor quality garment products reaching your
                                                    customers? Do you struggle with inconsistent quality control during
                                                    production? Look no further than BELIEVER, the industry leader in
                                                    During Production Inspection (DUPRO) services for garment products.
                                                </p>
                                                <p>At BELIEVER, we understand that quality control is critical to your
                                                    brand's success. That's why we offer comprehensive DUPRO services
                                                    designed to ensure that your garment products meet the highest
                                                    standards of quality and exceed your customers' expectations.</p>
                                                <p><b>Here are the 10 reasons why BELIEVER is the best choice for DUPRO
                                                        services:</b></p>
                                                <ol>
                                                    <li>Proactive Approach</li>
                                                    <li>Real-Time Insights</li>
                                                    <li>Customized Solutions</li>
                                                    <li>Increased Efficiency</li>
                                                    <li>Improved Customer Satisfaction</li>
                                                    <li>Reduced Risk</li>
                                                    <li>Enhanced Brand Reputation</li>
                                                    <li>Cost Savings</li>
                                                    <li>Compliance Assurance</li>
                                                    <li>Data-Driven Decision Making</li>
                                                </ol>
                                                <p>With BELIEVER's DUPRO inspection services, you can rest assured that
                                                    your garment products meet the highest standards of quality and
                                                    exceed your customers' expectations.</p>
                                                <p>Contact us today to learn more about our DUPRO inspection services
                                                    and how we can help elevate your brand to new heights.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">FRI</h5>
                                <p>BELIEVER, as a leading provider of quality control services, offers expertise in FRI
                                    and can help you ensure that your products meet the highest quality standards.</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-8">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-8" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">FRI</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>BELIEVER, as a leading provider of quality control services, offers
                                                    expertise in FRI and can help you ensure that your products meet the
                                                    highest quality standards.</p>
                                                <p>Final Random Inspection (FRI) is a quality control process that
                                                    involves inspecting a random sample of finished products or
                                                    components to ensure they meet the required quality standards before
                                                    they are shipped to customers. This process is usually performed
                                                    after the product has gone through various manufacturing stages,
                                                    such as assembly, testing, and packaging.</p>
                                                <p>The purpose of FRI is to detect any defects or non-conformities that
                                                    may have occurred during the production process and to correct them
                                                    before the product is released to the market. This helps to ensure
                                                    that the product meets the required quality standards, which can
                                                    help to build customer confidence and reduce the risk of returns,
                                                    complaints, or recalls.</p>
                                                <p>During the FRI process, a trained quality control inspector will
                                                    randomly select a sample of products from the production line and
                                                    perform a thorough inspection to check for any defects or
                                                    non-conformities. The inspector may use various tools and
                                                    techniques, such as visual inspection, measuring instruments, and
                                                    testing equipment, to evaluate the product's quality.</p>
                                                <p>If any defects or non-conformities are detected during the FRI
                                                    process, the inspector will document them and notify the production
                                                    team to take corrective action. Depending on the severity of the
                                                    issue, the product may be rejected, repaired, or reworked to meet
                                                    the required quality standards.</p>
                                                <p>FRI is an important part of the quality control process in many
                                                    industries, including electronics, automotive, aerospace, and
                                                    consumer goods. By performing FRI, manufacturers can ensure that
                                                    their products meet the highest quality standards and exceed
                                                    customer expectations, which can help to build brand loyalty and
                                                    drive long-term growth.</p>
                                                <p><b>Here are some reasons why BELIEVER is the best choice for FRI:</b>
                                                </p>
                                                <ul>
                                                    <li>Experienced Team</li>
                                                    <li>Thorough Inspection Process</li>
                                                    <li>Customized Solutions</li>
                                                    <li>Fast Turnaround Times</li>
                                                    <li>Cost-Effective Solutions</li>
                                                    <li>Advanced Technology</li>
                                                    <li>Customer Satisfaction</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title pt-3 pb-3">PPI</h5>
                                <p>Are you looking to import garment products from overseas manufacturers? Or maybe
                                    you're a domestic
                                    manufacturer looking to ensure the quality of your products</p>
                                <!-- Button trigger modal -->
                                <button type="button" class="read-more-button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-9">
                                    Read more <i class="fa-solid fa-angles-right arrow-icon"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal-9" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">PPI</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you looking to import garment products from overseas
                                                    manufacturers? Or maybe you&#39;re a domestic
                                                    manufacturer looking to ensure the quality of your products before
                                                    they hit the shelves? Either way, you
                                                    need a reliable partner to conduct a pre-purchase inspection (PPI)
                                                    that will give you peace of mind and
                                                    protect your brand reputation.</p>
                                                <p>That&#39;s where BELIEVER comes in - we offer comprehensive PPI
                                                    services for garment products, tailored to
                                                    meet the unique needs of your business. Our team of experts will
                                                    work closely with you to understand
                                                    your specific requirements and standards, ensuring that every aspect
                                                    of the inspection process meets
                                                    your expectations.</p>
                                                <p><b>So why choose BELIEVER for your PPI needs? Here are just a few
                                                        reasons:</b></p>
                                                <ul>
                                                    <li>Expert Knowledge</li>
                                                    <li>Customized Solutions</li>
                                                    <li>State-of-the-Art Technology</li>
                                                    <li>Fast Turnaround Times</li>
                                                    <li>Competitive Pricing</li>
                                                    <li>Unparalleled Customer Service</li>
                                                    <li>Global Reach</li>
                                                    <li>Industry Recognition</li>
                                                    <li>Comprehensive Reporting</li>
                                                    <p>Quality Guarantee</p>
                                                </ul>
                                                <p>Don&#39;t leave your garment products&#39; quality to chance. Partner
                                                    with BELIEVER for your PPI needs and
                                                    enjoy the benefits of a comprehensive, reliable, and efficient
                                                    inspection process. Contact us today to
                                                    learn more about our services and how we can help safeguard your
                                                    brands reputation.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


    </main>
{% endblock%}